<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<div class="row">
  <div class="col-md-10 col-md-offset-2">
  　<p><span class="col-md-2">プロフィール</span><span class="panel panel-default col-md-10"><%= @user.profile %></span></p>
    <p><span class="col-md-2">メールアドレス</span><span class="panel panel-default col-md-10"><%= @user.email %></span></p>
    <p><span class="col-md-2">居住地</span><span class="panel panel-default col-md-10"><%= @user.area %></span></p>
  </div>
</div>    